/*
* @Author: Administrator
* @Date:   2018-01-03 16:35:22
* @Last Modified by:   Administrator
* @Last Modified time: 2018-01-05 16:45:22
*/
* {margin:0;border: 0;padding:0;font-family: "微软雅黑";}

body {
	transition: all 1s ease;
}


@media screen and (max-width: 1000px){
	#left {
		display: none;
	}
}



/* @media screen and (min-width: 1200px){
	#left {
		display: block;
	}
} */

#left {
	display: none;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 10px;
	height: 100%;
	width: 85px;
	/* border: 1px solid #000; */
	z-index: 3;
	transition: all 0.4s ease;
	/* opacity: 0; */
}

#left>ul {
	display: block;
	width: 97%;
	height: 350px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	border: 1px solid #ddd;
	border-radius: 5px;
}

#left>ul>li {
	display: block;
	list-style: none;
	width: 90%;
	height: 11.6%;
	margin: 2px auto;
	border-bottom: 1px #ddd solid;
	border-radius: 5px;
	text-align: center;
	line-height: 40px;
	font-size: 13px;
	text-decoration: none;
	color: #666;
}


#right {
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	width: 35px;
	height: 100%;
	background: #111;
	z-index: 5;
}

#rightCenter{
	height: 70%;
	position: absolute;
	margin: auto;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
}

#zhanghao {
	width:35px;
	height: 70px;
	position: relative;
	background: black;
}
#zhanghaobg {
	position: absolute;
	top:0;
	left: 0;
	width: 35px;
	height: 70px;
	background: black;
	z-index: 6;
}

#zhanghao:hover dl {
	left: -257px;
}

#zhanghaobg>p {
	text-align: center;
	line-height: 20px;
	font-size: 12px;
}

#zhanghaobg>p>a {	
	color: white;
	font-size: 12px;
}

#gouwudai {
	background: #df147f;
	padding: 0;
	padding-top: 10px;
	width: 35px;
	height: 140px;
	position: relative;
	margin: 0;
}

#gouwudaibg>p {
	text-align: center;
	color: white;
	line-height: 20px;
}

#gouwudaibg {
	position: absolute;
	margin: 0;
	width: 35px;
	height: 152px;
	padding-top: 8px;
	background: #df147f;
	top:0;
	left: 0;
	z-index: 6;
}

#gouwudaibg>p>span {
	display: inline-block;
	background: white;
	color: #df147f;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	line-height: 20px;
	font-size: 12px;
}

#rightCenter>ul {
	margin: 8px  0 40px 0; 
	background: black;
}

#rightCenter>ul>li {
	list-style: none;
	text-align: center;
	line-height: 45px;
	height: 45px;
	position: relative;
}

#zhanghao>dl {
	display: block;
	position: absolute;
	top:0;
	left: 0px;
	background: white;
	border: 1px solid #ddd;
	transition: all 0.4s ease-in-out;
	z-index: 4;
}



#zhaonghao>dl>dt {
	display: block;
	width: 100%;
	overflow: hidden;
	clear: both;
}

#zhanghao>dl>dt>img {
	display: block;
	border: 3px solid #fff;
	box-shadow: 0 0 5px #999;
	margin: 0 auto;
}

#zhanghao>dl>dt>p {
	width:100%;
	text-align: center;
	font-size: 12px;
	color: #555;
	margin: 10px 0;
	line-height: 30px;
}

#zhanghao>dl>dt>p>span {
	color: #f10180;
}


#zhanghao>dl>dt>ul{
	overflow: hidden;
}

#zhanghao>dl>dd {
	display: block;
	width: 255px;
	background: #eee;
	overflow: hidden;
	border-top: #ccc 1px solid;
	border-bottom: #ccc 1px solid;
}

#zhanghao>dl>dd>ul>li {
	list-style: none;
	float: left;
	width: 127px;
	background: #eee;
	padding-top: 20px;
}

#zhanghao>dl>dd>ul>li>a {
	display: block;
	width:100%;
	height: 80px;
	text-align: center;
	text-decoration: none;
	font-size: 12px;
	line-height: 25px;
	color: #555;
}

#zhanghao>dl>p {
	text-align: right;
	padding-right: 20px;
}
#zhanghao>dl>p>a {
	text-decoration: none;
	color: rgb(10, 133, 182);
	font-size: 12px;
	line-height: 40px;
}

#zhanghao>dl>dt {
	display: block;
	width: 255px;
	
}



#rightCenter>ul>li:hover i{
	background: #df147f;
	z-index: 6;
}

#rightCenter>ul>li:hover p {
	left: -118px;
	z-index: 3;
}

#rightCenter>ul>li>i {
	position: absolute;
	display: inline-block;
	width: 35px;
	top: 0;
	left: 0;
	text-align: center;
	z-index: 6;
	line-height: 45px;
	background: black;
}

#rightCenter>ul>li>p {
	position: absolute;
	width: 120px;
	line-height: 33px;
	background: white;
	left: 0px;
	top: 5px;
	border-radius: 5px;
	border: 1px solid #999;
	transition: all 0.2s ease;
	z-index: 3;
}

#rightBottom {
	position: absolute;
	bottom: 0;
	height: 14%;
	width: 100%;
}



#rightBottom>ul>li {
	list-style: none;
	margin: 6px 0;
	text-align: center;
	height: 35px;
	position: relative;
}

#rightBottom>ul>li>p {
	position: absolute;
	display: block;
	font-size: 15px;
	border: 1px solid #666;
	border-radius: 4px;
	width: 150px;
	background: white;
}

#rightBottom>ul>li:hover i{
	background: #df147f;
	z-index: 6;
}

#rightBottom>ul>li:hover p {
	left: -118px;
	z-index: 3;
}

#rightBottom>ul>li>i {
	position: absolute;
	display: inline-block;
	width: 35px;
	top: 0;
	left: 0;
	text-align: center;
	z-index: 6;
	line-height: 35px;
	background: black;
}

#rightBottom>ul>li>p {
	position: absolute;
	width: 120px;
	line-height: 33px;
	background: white;
	left: 0px;
	top: 0;
	border-radius: 5px;
	border: 1px solid #999;
	transition: all 0.2s ease;
	z-index: 3;
}

.head {
	width: 100%;
	background: #eee;
}



.pink {
	color: #F10180;
}

.container {
	display: block;
	width: 1100px;
	margin: 0 auto;
	
}

.container>.top:after{display: block; clear: both; content: ''}

.topl>#place {
	border: 0;
	font-size: 13px;
	color: #666;
	line-height: 25px;
	padding-left: 5px;
}

.topl>#province {
	display: none;
	font-size: 14px;
	padding: 10px;
	background: white;
	width: 550px;
	position: absolute;
	top: 21px;
	left: 0px;
	z-index: 2;
}
.topl>#province>p {
	line-height: 40px;
}
.topl>#province>p>#X {
	display: block;
	float: right;
	background: white;
}

.topl>#province>dl {
	display: block;
}

.topl>#province>dl>dt {
	display: block;
	width: 70px;
	float: left;
	border: 1px solid #ccc;
	border-top: 3px solid  #F10180;
	border-bottom: 0;
	text-align: center;
	line-height: 30px;
}

.topl>#province>dl>dd {
	clear: both;
	height: 1px;
	width: 100%;
	border-bottom: 1px solid #ccc;
}
.topl>#province>table{
	margin: 15px 0 0 20px;
}
.topl>#province>table tr>td>a {
	color: #999;
}
.topl>#province>table tr>td>a:hover {
	background: #F10180;
	color: white;
}



.topl,.topr {
	float: left;
}

.topl {
	position: relative;
	float: left;
}

.topl>button {
	display: block;
	line-height: 25px;
	background: transparent;
}

.topr {
	float:right;
	position: relative;
}



.topr>#denglu {
	border: #999 1px solid;
	position: absolute;
	top:26px;
	left: 50px;
	width: 250px;
	background: white;
	padding-top: 20px;
	z-index: 2;
	padding: 10px;
	display: none;
}

.topr>#denglu>dl>dt {
	display: block;
	float: left;
}

.topr>#denglu>dl>dt>img {
	float: left;
}

.topr>#denglu>dl>dt>p {
	float: left;
	line-height: 60px;
	width: 150px;
	font-size: 14px;
	color: #999;
	border-bottom: 1px dashed #333;
}

.topr>#denglu>dl>dd{
	display: block;
	float: left;
}

.topr>#denglu>dl>dd>table {
	margin: 10px 0 0 25px;
	font-size: 13px;
	color: #999;
	line-height: 30px;
}

.topr>#denglu>dl>dd>table tr>td>a:hover {
	color :#f10180;
} 

#qiandaoyl {
	position: relative;
}

#qiandaoyl:hover {
	background: white;
}

#qiandaoyl:hover #qiandao {
	display: block;
}

#qiandao:hover {
	background: white;
}


#qiandao {
	position: absolute;
	display: none;
	width: 450px;
	background: white;
	top: 22px;
	left: -170px;
	z-index: 2;
}

#qiandao>dt{
	display: block;
	overflow: hidden;
	width: 450px;
}

#qiandao>dt>ul {
	display: block;
	overflow: hidden;
	margin: 0 auto;
	text-align: center;
}

#qiandao>dt>ul>li {
	display: inline-block;
	margin: 0;
}

#qiandao>dt>#circles {
	padding-left: 31px;
	margin: 35px 0 10px 0;
}

#qiandao>dt>#circles>.circle {
	display: block;
	width: 4px;
	height: 4px;
	border: 7px #ccc solid;
	border-radius: 50%;
	padding:0;
}

#qiandao>dt>ul>.line {
	width: 41px;
	height: 0px;
	margin-top: 8px;
	/* background: #ccc; */
	border:1px solid #ccc;
	padding: 0;
}

#qiandao>dt>.days {
	padding: 0 0 20px 10px;
}

#qiandao>dt>.days>li {
	display: block;
	width: 37px;
	font-size: 13px;
}



#qiandao>dd>p {
	overflow: hidden;
	width: 400px;
	margin: 0 auto;
	border-top: 1px solid #eee;
}

#qiandao>dd>p>a {
	line-height: 40px;
	font-size: 12px;
}

#qiandao>dd>p>button {
	display: block;
	float: right;
	margin-top: 10px;
	height: 22px;
	width: 50px;
	border-radius: 5px;
	background-color: #F10180;
	color: white;
}

#wodetemai {
	position: relative;
}

#wodetemai:hover #temai{
	display: block;
}

#wodetemai:hover {
	background: white;
	color: black;
}

#wodetemai>ul{
	display: none;
	float: none;
	width: 92px;
	font-size: 13px;
	position: absolute;
	line-height: 28px;
	top: 26px;
	left: 0;
	font-family: "微软雅黑";
}

#wodetemai>ul>li {
	display: block;
	width: 92px;
	background: white;
	text-align: center;
	padding: 0;
}



#temai>li:hover {
	background: #f10180;
	color: white;
}

#huiyuanjlb {
	position: relative;
}

#huiyuanjlb:hover {
	background: white;
	color: balck;
}

#huiyuanjlb:hover #jlb{
	display: block;
}



#huiyuanjlb>ul{
	padding: 0;
	display: none;
	float: none;
	width: 96px;
	font-size: 13px;
	position: absolute;
	line-height: 28px;
	top: 25px;
	left: 0px;
	font-family: "微软雅黑";
	background: white;
}

#huiyuanjlb>ul>li {
	display: block;
	text-align: center;
	width: 77px;
}

#huiyuanjlb>ul>li:hover {
	background: #f10180;
	color: white;
}

#kehufuwu {
	position:relative;
}

#kehufuwu:hover {
	background: white;
}



#kehufuwu:hover #fuwu{
	display: block;
}

#kehufuwu>ul{
	display: none;
	float: none;
	width: 92px;
	font-size: 13px;
	position: absolute;
	line-height: 28px;
	top: 25px;
	left: 0px;
	font-family: "微软雅黑";
	background: white;
}

#kehufuwu>ul>li {
	display: block;	
	padding: 0;
	width: 68px;
	padding: 0 12px;
	text-align: center;
}

#kehufuwu>ul>li:hover {
	background: #f10180;
}

#kehufuwu>ul>li:hover a{
	color: white;
}

#shoujiban {
	position: relative;
}

#shoujiban:hover {
	background: white;
}

#shoujiban:hover #qrcode {
	display: block;
}

#shoujiban>dl {
	display: none;
	padding:10px 10px 0 10px; 
	background: white;
	position: absolute;
	top: 27px;
    left: -90px;
	z-index: 2;
}

#shoujiban>dl>dd {
	font-size: 13px;
	font-weight: 500;
	line-height: 20px;
}

#shoujiban>dl>dt>img {
	width: 150px;
	height: 150px;
}

#more {
	position: relative;
}

#more:hover {
	background: white;
}

#more:hover #more-cont {
	display: block;
}

#more>dl {
	position: absolute;
	top: 27px;
	left: -200px;
	background: white;
	width: 270px;
	padding: 10px;
	z-index: 2;
	display: none;
}

#more>dl>dd {
	width: 100%;
	height: 1px;
	border-bottom: 1px dashed #ccc;
	margin: 14px auto;
}

#more>dl>dt>p {
	text-align: left;
	line-height: 26px;
	font-size: 14px;
	font-family: "微软雅黑";
}

#more>dl>dt>p>a {
	text-align: left;
	line-height: 26px;
	font-size: 13px;
	font-family: "微软雅黑";
}


.topr ul li {
	display: block;
	float: left;
	text-align: center;
	padding: 0 12px;
	border:1px solid transparent;
}



.topr>ul>li>a {
	text-decoration: none;
	font-size: 13px;
	color: #555;
	line-height: 25px;
	font-family: "微软雅黑";
}

.topr>ul>p {
	float: left;
	line-height: 25px;
	color: #ccc;
	font-size: 10px;
	
}

.headcenter {
	width: 100%;
	background: #fff;
	overflow: hidden;
}

.hc>ul {
	display: block;
	overflow: hidden;
	padding: 0;
	float: left;
}
.hc>ul>li {
	display: block;
 	list-style: none;
 	float: left;
 	margin: 0 10px;
 	text-align: center;
}

.hc>ul>li>a {
	line-height: 85px;
	text-decoration: none;
	color: #999;
	font-size: 18px;
	text-align: center;
}

#shopcar {
	float: right;
	margin-left: 20%;
	overflow: hidden;
}

#shopcar>p{
	display: block;
	width: 90px;
	border: 1px solid #999;
	border-radius: 5px;
	line-height: 30px;
	font-size: 13px;
	text-align: center;
	margin: 30px 0;
}

#shopcar>p>span {
	display: inline-block;
	/* height: 14px;
	width: 20px; */
	padding: 0 6px;
	border-radius: 7px;
	background: #F10180;
	line-height: 14px;
	vertical-align: middle;
	margin-bottom: 3px;
	color: white;
	font-weight: bold;
}

#navbar {
	background: #F10180;
	overflow: hidden;
	width: 100%;
	z-index: 4;
}

#navbar>.container>ul  {
	overflow: hidden;
	display: block;
	float: left;
}

#navbar>.container>ul>li {
	display: block;
	float: left;
	width: 70px;
	text-align: center;
}

#navbar>.container>ul>li>a {
	color: white;
	text-decoration: none;
	font-size: 16px;
	line-height: 40px;
}

.navbarr {
	float: right;
}
.navbarr>ul {
	display: block;
	float: right;
	overflow: hidden;
}

.navbarr>ul>li {
	display: block;
	width: 80px;
	float: left;
	text-align: center;
}

.navbarr>ul>li>a {
	line-height: 40px;
	text-decoration: none;
	font-size: 16px;
	color: white;
}

.navbarr>ul>p {
	float: left;
	line-height: 40px;
}

.banner {
	display: block;
	width: 100%;
	margin:0 auto;
	background: url(../img/bannerbgimg.jpg) no-repeat;
	background-size: 100% 100%;
	height: 400px;
	overflow: hidden;
	box-shadow: 0 0 10px #f10180;
}

.banner>.image {
	width: 840px;
	height: 600px;
	border: 10px solid rgb(255, 255, 255);
	margin: 20px auto;
	background: white;
	position: relative;
	overflow: hidden;
	box-shadow: 0 0 200px #f10180 ;
	padding: 0;
}

.banner>.image>#scoll {
	width: 5160px;
	height: 340px;
	position: absolute;
	transition: all 1s ease;
}

.banner>.image:hover #prev {
	display: block;
}

.banner>.image:hover #next {
	display: block;
}

.banner>.image>#scoll>img {
	width: 860px;
	height: 340px;
	display: block;
	float:left;
}

.banner>.image>ul{
	display: block;
	overflow: hidden;
	position: relative;
	top: 341px;
}

.banner>.image>ul>li {
	float: left;
	display: block;
	text-decoration: none;
	width: 164px;
	border-bottom: 2px solid transparent;
	text-align: center;
}

.banner>.image>ul>li>a {
	font-size: 13px;
	line-height: 27px;
	text-decoration: none;
	color: #666;
}

.banner>.image>ul>span {
	display: block;
	float: left;
	color: #ddd;
	font-size: 12px;
	line-height: 25px;
}

#prev {
	display: none;
	position: absolute;
	top: 134px;
	left: -4px;
	width:50px;
	height: 65px;
	background: rgba(0,0,0,0.4);
	color: #ccc;
	z-index: 2;
	transition: all 1s ease;
}



#next {
	display: none;
	position: absolute;
	top: 134px;
	left: 790px;
	width: 50px;
	height: 65px;
	background: rgba(0,0,0,0.4);
	color: #ccc;
	transition: all 1s ease;
	z-index: 2;
}

#scollline {
	display: block;
	width: 164px;
	height: 0;
	border: 1px solid #f10180;
	position: absolute;
	top: 368px;
	left: 0px;
	z-index: 4;
	transition: all 1s ease;
}

.xinrenyx img:hover{
	opacity: 0.7;
	transition: all 0.5s ease;
}

.xinrenyx>p {
	margin-top: 20px;
	text-align: center;
	font-size: 30px;
	line-height: 60px;
}

.xinrenyx>ul {
	display: block;
	overflow: hidden;
}
.xinrenyx>ul>li {
	display: block;
	text-decoration: none;
	float: left;
	width: 12%;
	text-align: center;
}

.xinrenyx>ul>li>a>img {
	display: block;
	margin:  0 auto;
	transition: all 0.4s ease;
}

.xinrenyx>ul>li>a>img:hover {
	transform: rotateY(180deg);	
}

.xinrenyx>dl {
	display: block;
	float: left;
	width: 540px;
	margin: 30px 4px 0 4px;
	position: relative;
	overflow: hidden;
}

.xinrenyx>dl>dt>img {
	display: block;
	
	width: 100%;
}

.xinrenyx>dl>dd {
	width: 100%;
	position: absolute;
	top: 212px;
	left: 0;
}

.xinrenyx>dl>dd>ul {
	text-align: center;
	margin-left: 7px;
}

.xinrenyx>dl>dd>ul>li {
	list-style: none;
	float: left;
	background: white;
	width: 113px;
	height: 113px;
	margin: 0 6px;
	padding: 3px;
	border-radius: 8px;
}

.xinrenyx>dl>dd>ul>li>img {
	margin-top: 10px;
	transition: all 1s ease;
}

.xinrenyx>dl>dd>ul>li>img:hover {
	transform: rotateZ(360deg);
}

.xinrenyx>dl>dd>ul>li>p {
	line-height: 26px;
	font-size: 14px;
}

.title {
	display: block;
	overflow: hidden;
	width: 100%;
	height: 100px;
	position: relative;
}

 .title>dt {
	display: block;
	clear: both;
	margin: 50px auto;
	width: 100%;
	border-bottom: 1px dashed #fc66b6;
} 

.title>dd>p {
	font-size: 30px;
	text-align: center;
	background: white;
}

.title>dd>p>span {
	display: inline-block;
	font-size: 38px;
	font-family: cursive;
	color: red;
	font-weight: blod;
}

.title>dd {
	display: block;
	width: 680px;
	position: absolute;
	top:20px;
	left:260px;
}

.temaigoods {
	overflow: hidden;
}

.temaigoods>dl {
	display: block;
	width: 510px;
	margin: 15px 20px;
	height: 330px;
	float: left;
	position: relative;
	box-shadow: #666 5px 5px 10px;
}

.temaigoods>dl>dt {
	display: block;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.temaigoods>dl:hover dd {
	opacity: 1;;
}

.temaigoods>dl:hover dt{
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}

.temaigoods>dl>dd{
	display: block;
	position: absolute;
	width: 470px;
	top: 18px;
	overflow: hidden;
	left: 20px;
	background: white;
	border-radius: 20px;
	z-index: 2;
	padding-top: 6px;
	opacity: 0;
	transition: all 0.5s ease;
}

.temaigoods>dl>dd>ul {
	overflow: hidden;
	width: 470px;
}

.temaigoods>dl>dd>ul>li{
	list-style: none;
	float: left;
	width: 130px;
	color: #aa2b6f;
	margin: 0 12px;
	text-align: center;
} 

.temaigoods>dl>dd>ul>li>a>img {
	width: 130px;
	float: left;
	height: 164px;
	margin: 0 6px;
}

.temaigoods>dl>dd>.row {
	display: block;
	width: 470px;
	border-top: 1px dotted #666;
	margin-top: 30px;
	position: relative;
}

.temaigoods>dl>dd>.row>img {
	width: 100px;
	margin: 5px 0 10px 25px;
}

.temaigoods>dl>dd>.row>p {
	display: block;
	font-size: 13px;
	width: 90px;
	line-height: 22px;
	border-radius: 12px;
	text-align: center;
	border: 1px solid #aaa;
	position: absolute;
	top: 25px;
	left: 160px;
}


.temaigoods>dl>dd>.row>p:hover {

	border: 1px solid #fc66b6;
	background: #f10180;
	color: white;
	box-shadow: #f10180  0 0 5px;
}

.temaigoods>dl>dd>.row>span {
	display: block;
	width: 120px;
	text-align: center;
	line-height: 25px;
	font-size: 15px;
	border:1px solid ;
	border-radius: 5px;
	position: absolute;
	top: 22px;
	left: 310px;
}

.temaigoods>dl>dd>.row>span:hover {
	background: black;
	color: white;
}

.title-left {
	display: block;
	margin: 20px 0 20px 0;
	border-bottom: 1px solid #000;
}

.title-left>p {
	display: inline-block;
	font-size: 15px;
	color: #aaa;
	line-height: 25px;
	border-bottom: 2px solid black;
}

.title-left>p>span {
	font-size: 30px;
	color: black;
}

.lists-fd {
	overflow: hidden;
}

.lists-fd>dl{
	display: block;
	width: 525px;
	margin: 10px 10px;
	float:left;
}

.lists-fd>dl>dt {
	width: 525px;
	height: 250px;
	position: relative;
	overflow: hidden;
}

.lists-fd>dl>dt>img {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: all 0.2s ease;
}

.lists-fd>dl>dt>p {
	position: absolute;
	width: 98%;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.4);
	color: #eee;
	font-size: 14px;
	line-height: 30px;
	padding-left: 10px;
}

.lists-fd>dl>dt>p>span {
	float: right;
	margin: 5px 15px 0 0;
	display: block;
	width: 90px;
	background: white;
	font-size: 12px;
	line-height: 20px;
	border-radius: 10px;
	text-align: center;
	color: #666;
	opacity: 0;
	transition: all 0.2s ease;
}

.lists-fd>dl>dt:hover span {
	opacity: 1;
}

.lists-fd>dl>dt>p>span:hover {
	background: #ec3195;
	color:white;
}

.lists-fd>dl>dd {
	display: block;
	width: 100%;
	height: 40px;
	background: white;
}

.lists-fd>dl>dd>p {
	display: block;
	float: left;
	line-height: 40px;
	font-size: 13px;
	margin-left: 20px;
}

.lists-fd>dl>dd>p>span {
	font-size: 25px;
	color: #f10180;
	font-weight: 900;
}

.lists-fd>dl>dd>h5 {
	display: block;
	float: right;
	line-height: 40px;
	margin-right: 30px;
}

.lists-fd>dl>dt>img:hover {
	width: 540px;
	top: -5px;
	left: -6px;
}


#nvzhuang {
	display: block;
	margin-top: 20px;
	clear: both;
	overflow: hidden;
}

.line-more {
	width: 100%;
	clear: both;
	height: 35px;
	border-top:1px solid #ccc;
}

.line-more>p {
	left:100px;
	width: 300px;
	height: 35px;
	margin: 0 auto;
	background: #ec3195;
	text-align: center;
}

.line-more>p>a{
	color: white;
	line-height: 35px;
}

.gylist {
	width: 100%;
	overflow: hidden;
}

.yglist {
	position: relative;
	display: block;
	float: left;
	margin: 8px 7px;
}

.yglist:hover dd{
	display: none;
}

.yglist>dt {
	width: 100%;
}

.yglist>dt>img {
	width: 350px;
}

.yglist>dt>form {
	line-height: 30px;
	margin-top: 4px;
	border: 1px solid #ccc;
	border-radius: 2px;
}

.yglist>dt>form>input {
	display: inline-block;
	width: 250px;
	height: 30px;
	border: 0;
	outline: medium;
}

.yglist>dt>form>button {
	display: inline-block;
	width: 96px;
	background: white;
	line-height: 30px;
	border-left: 1px solid #ccc;
	color: #42a7db;
	font-size: 14px; 
	text-align: center;
	outline: medium;
}

.yglist>dd {
	display: block;
	width: 100%;
	position: absolute;
	top: 0 ;
	left: 0;
}

.yglist>dd>.cover {
	width: 350px;
	height: 167px;
	background: rgba(0, 0, 0, 0.6)
}

.yglist>dd>.cover>img {
	width: 120px;
	height: 70px;
	position: absolute;
	top: 30px;
	left: 115px;
}

.yglist>dd>.cover>p {
	width: 120px;
	height: 30px;
	position: absolute;
	top: 110px;
	left: 115px;
	color: white;
	font-size: 16px;
	font-weight: blod;
	text-align: center;
}

.yglist>dd>.para {
	display: block;
	overflow: hidden;
	position: absolute;
	width: 100%;
	height: 40px;
	background: white;
	top: 170px;
	left: 0;
	font-size: 16px;
	line-height: 25px;
}

.para>.pl {
	display: block;
	float: left;
	width: 200px;
	line-height: 30px;
	padding-left: 5px;
	color: #333;
}

.para>.pr {
	display: block;
	float: right;
	width: 100px;
	text-align: right;
	padding-right: 5px;
}

.para>.pr>span {
	font-size: 23px;
	font-weight: bold;
	color: #f10180;
}

#yugao>.gdyg {
	width: 300px;
	text-align: center;
	color: white;
	font-size: 17px;
	line-height: 50px;
	background: #f10180;
	margin: 50px auto;
	clear: both;
}


#footer {
	background: #fcfcfc;
}
#footer,#sm,#sm>img,.hezuo {
	width: 100%;
	overflow: hidden;
}

.hezuo>ul {
	/* display: block; */
	float: left;
	width: 180px;
	height: 150px;
	border-right: 1px solid #ddd;
}

.hezuo>ul>p {
	font-size: 16px;
	line-height: 35px;
	margin-left: 35px;
	color: #666;
	font-weight: bold;
}

.hezuo>ul>li {
	margin-left: 40px;
	list-style: square;
	font-size: 5px;
	color: #aaa;
	position: relative;
}

.hezuo>ul>li:hover {
	color: #df147f;
}

.hezuo>ul>li>a {
	text-decoration: none;
	color: #999;
	font-size: 13px;
	line-height: 18px;
	position: absolute;
	transition: all 0.3s ease;
	top:0;
	left:-4px;
}

.hezuo>ul>li>a:hover {
	color: #f54ba5;
	left: 4px;
	font-weight: bold;
}

#bright {
	border: 0;
}

#bright>p {
	color: #555;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	margin: 0;
}

#bnav {
	width: 100%;
	background: #f10180;
	overflow: hidden;
	margin: 10px 0;
}

#bnav>ul {
	text-align: center;
	display: block;
	margin: 0 auto;
	overflow: hidden;
}

#bnav>ul>li {
	display: inline-block;
	font-size: 13px;
	text-align: center;
	padding: 0 10px;
	border-left: 1px solid white;
	margin: 5px 0;
}

#bnav>ul>li>a {
	text-decoration: none;
	color: white;
	line-height: 13px;
}

#bnav>ul>li>a:hover {
	color: #aaa;
}

#f-infor {
	overflow: hidden;
	margin: 15px 0;
}

#f-infor>p {
	color: #999;
	font-size: 13px;
	text-align: center;
	line-height: 20px;
}

#f-infor>p>a {
	color: #888;
}

#f-img {
	overflow: hidden;
	text-align: center;
	margin-top: 20px;
}

#f-img>a {
	display: inline-block;
	margin: 0 15px;
}


.footpic {
	background: url(../img/footerimg.png)no-repeat;
	display: inline-block;
	height: 40px;
}